<section class="comments" style="margin-top: 3em;">
  <h2>Comments</h2>
  <p>Comments use <a href="https://giscus.app/">giscus</a>, so you will need a github account and to authorize giscus to post on your behalf.</p>
  <script src="https://giscus.app/client.js"
          data-repo="gwaithimirdain/gwaithimirdain.github.io"
          data-repo-id="R_kgDOSjmBzg"
          data-category="Announcements"
          data-category-id="DIC_kwDOSjmBzs4C9je9"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</section>
